<launch>

    <!-- <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS"/> -->

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <rosparam file="$(find ros_gibson_environment)/params/husky/move_base_params.yaml" command="load"/>

        <rosparam file="$(find ros_gibson_environment)/params/husky/planner_params.yaml" command="load"/>

        <!-- observation sources located in costmap_common_params.yaml -->
        <rosparam file="$(find ros_gibson_environment)/params/husky/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find ros_gibson_environment)/params/husky/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <!-- local costmap, needs size -->
        <rosparam file="$(find ros_gibson_environment)/params/husky/costmap_local_params.yaml" command="load" ns="local_costmap" />

        <!-- static global costmap, static map provides size -->
        <rosparam file="$(find ros_gibson_environment)/params/husky/costmap_global_static_params.yaml" command="load" ns="global_costmap"/>


    </node>

</launch>
