<launch>

    <!-- important generally, but specifically utilised by the current app manager -->
    <param name="robot/name" value="$(optenv ROBOT husky_robot)"/>
    <param name="robot/type" value="husky_robot"/>

    <param name="robot_description" command="cat $(find ros_gibson_environment)/robot_models/husky.urdf"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    </node>

    <node name="ros_gibson_environment_simulator" pkg="ros_gibson_environment" type="husky_gibson_simulator.py" output="screen">
        <param name="environment" value="space7" />
        <param name="resolution" value="256" />
    </node>

    <node name="gibson_clock" pkg="ros_gibson_environment" type="simulation_clock.py">
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="5.0" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_gibson_environment)/params/rviz_gmapping.rviz" />

    <!-- Load controller configuration -->
    <rosparam command="load" file="$(find husky_control)/config/control.yaml" />

    <!-- Spawn controllers -->
    <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen"/>
    <node pkg="twist_mux" type="twist_mux" name="twist_mux">
        <rosparam command="load" file="$(find husky_control)/config/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="husky_velocity_controller/cmd_vel"/>
    </node>
</launch>