<launch>

    <!-- important generally, but specifically utilised by the current app manager -->
    <param name="robot/name" value="$(optenv ROBOT turtlebot)"/>
    <param name="robot/type" value="turtlebot"/>


    <param name="robot_description" command="cat $(find gibson-ros)/turtlebot/turtlebot.urdf"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    </node>

    <node name="ros_gibson_environment_simulator" pkg="ros_gibson_environment" type="turtlebot_gibson_simulator.py" output="screen">
        <param name="env_dataset" value="matterport" />
        <param name="environment" value="house1" />
        <param name="resolution" value="256" />
    </node>

    <node name="gibson_clock" pkg="gibson-ros" type="simulation_clock.py">
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="5.0" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_gibson_environment)/params/rviz_gmapping.rviz" />

    <!-- Velocity muxer -->
    <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="cmd_vel_mux"
          args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
        <param name="yaml_cfg_file" value="$(find ros_gibson_environment)/params/mux_params.yaml" />
        <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/>
    </node>
</launch>